<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Startsida</title>
</head>
<body class="text-white">
    <header>
        <h1 class="display-4">
            <a href="/index" class="header-link">Mina märken</a>
        </h1>
    </header>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="mb-3">
            <a href="scout/createAccount" class="button-link">
                <button type="button" class="btn tentGreen choice-button">SCOUT</button>
            </a>
            <a href="leader/createAccount" class="button-link">
                <button type="button" class="btn grassGreen choice-button">LEDARE</button>
            </a>
            <a href="admin/start" class="button-link">
                <button type="button" class="btn limeGreen choice-button">KÅRADMIN</button>
            </a>
        </div>
        <div class="bg-white p-4 rounded">
            <img src="https://web.cdn.scouterna.net/uploads/sites/75/2019/10/segeltorps-logga-1-e1597417540454.png" class="img-fluid logo" alt="Segeltorps scoutkår">
        </div>
    </div>
</body>
</html>